body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}

.car-card {
  width: 25%;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.full-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.car-img img {
  width: 100%;
  height: 27vh;
}

.car-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.car-info h2 {
  font-size: 15px;
}

.comment-button {
  padding: 8px;
  border: none;
  background-color: #18b020;
  color: white;
}

.reservation-button {
  padding: 8px;
  border: none;
  background-color: #9e18b0;
  color: white;
}

.card-text {
  color: rgb(94, 94, 94);
}

.modal-container {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 1rem auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

.img-container {
  display: flex;
  justify-content: space-between;
}

.modal-content img {
  width: 60%;
}

.informations-det {
  display: flex;
}

.infocar {
  margin-left: 3rem;
  padding: 0;
}

.rowinfo {
  display: flex;
  gap: 8rem;
}
.rowinfo1 {
  display: flex;
  gap: 5rem;
}

.comment-section {
  display: flex;
}

.form-info {
  width: 60%;
}

.form-info1 {
  margin-left: 3rem;
}

input {
  width: 100%;
  border: none;
  background-color: #f4f4f4;
  padding: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: none;
  margin-top: 10px;
  height: 10vh;
  background-color: #f4f4f4;
}

.name-color {
  color: #9e18b0;
  font-weight: bold;
}

.comment-text {
  font-size: 13px;
  color:#6c6c6c;
}

.comment-container {
  padding: 0;
  margin: 0;
}

.show {
  display: block;
}

.hidden {
  display: none;
}